@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.otf');
  font-weight: 700;
}

@layer base {
  body {
    font-family: 'Gotham';
    @apply text-gray-800;
  }

  h1,
  h2 {
    @apply font-bold;
  }
}
